@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #12131b;
    color: white;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top, #070311,#131318);
    padding: 8px;
    border-bottom: 1px solid #ffffff75;
    box-shadow: 0px 10px 10px #00000050;
    filter: drop-shadow(0px 10px 20px #00000075);
    position: fixed;
    width:100%;
    z-index: 100;
}

.headerlogo {
    font-weight: 700;
    padding: 8px;
    font-size: 28px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding-right: 25px;
}

a {
    text-decoration: none;
    color: #FFFFFF75;
}

.header-links {
    display: flex;
}

.section1 {
    display: flex;
    margin: 0px;
    gap: 25px;
    padding: 72px;
    padding-bottom: 84px;
    padding-top:96px;
    background-image: linear-gradient(#12131b95, #12131b95), url("images/export.png");
    box-shadow: inset, 5px 10px #00000050;
    align-content: space-evenly;
}

.s1-image {
    display: flex;
    flex-shrink: 1;
    max-width: 480px;
    max-height: 270px;
    border: 5px solid #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

.s1text {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: 8px;
}

.bigs1text {
    font-family: "Helvetica", "Roboto", sans-serif;
    font-size: 42px;
    font-weight: bold;
    margin-bottom: -8px;
    text-shadow: 5px 5px 10px black;
}

.smalls1text {
    font-size: 22px;
    font-style: oblique;
    margin-bottom: 30px;
    text-shadow: 5px 5px 10px black;
}

.s1signup {
    font-size: 32px;
    width:fit-content;
    padding: 8px;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 15px;
}

.section2 {
    margin: 0px;
    gap: 25px;
    padding: 24px;
    background-color: #272a35;
    filter: drop-shadow(0px 0px 25px black);
}

.s2title {
    font-size: 48px;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-weight: bold;
    text-shadow: 0px 0px 5px #000000;
    text-align: center;
    margin-bottom: 36px;
}

.smalls2title {
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    margin-block-start: 2px;
    margin-bottom: 36px;
}

.projects-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
    margin-bottom: 24px;
}

.projects2 {
    max-width: 200px;
}

.projectimg {
    width: 200px;
    height: 200px;
    border: 5px solid white;
    border-radius: 25px;
    filter: drop-shadow(0px 0px 10px black);
    margin-bottom: 5px;
    transition: transform 0.3s;
}

.projectimg:hover {
    transform: scale(1.1,1.1);
    filter: drop-shadow(0px 0px 10px white);
    transition: transform 0.3s;
}

.projectname {
    font-size: 22px;
    font-family: "Roboto", "Helvetica", sans-serif;
    text-align: center;
    text-shadow: 0px 0px 10px black;
    margin-block-end: 7px;
    margin-block-start: 7px;
}

.project-text {
    text-align: center;
}

#s2end {
    font-style: italic;
    opacity: 50%;
}

.section3 {
    display: flex;
    margin: 0px;
    gap: 25px;
    padding: 36px;
    background-image: linear-gradient(#12131b95, #12131b95), url("images/export.png");
    box-shadow: inset, 5px 10px #00000050;
}

.quotecontainer {
    display: flex;
    margin: 25px;
    padding:10px;
    background-color: black;
    border-top: 25px solid #848484;
    border-radius: 7.5px;
    flex-direction: column;
    align-items: center;
    filter: drop-shadow(0px 0px 10px #08052693)
}

.quote {
    padding: 25px;
    padding-bottom: 10px;
    font-size: 35px;
    font-style: italic;
    text-align: left;
}

.quotelist {
    padding:25px;
    padding-top:0px;
    padding-bottom:10px;
    font-size:25px;
    text-align:left;
}

.quotesource {
    font-size: 23px;
    font-weight: bold;
    padding: 15px;
    padding-top: 0;
    padding-right: 25px;
    align-self: flex-end;
}

.section4 {
    margin: 0px;
    gap: 25px;
    padding: 50px;
    background-color: #272a35;
    filter: drop-shadow(0px 0px 25px black);
    display: flex;
    justify-content: center;
}

.signupmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #24305e;
    width: fit-content;
    border-radius: 25px;
    margin: 15px;
    padding: 35px;
    gap: 64px;
    filter: drop-shadow(0px 0px 25px black)
}

.signupbold {
    font-size: 40px;
    font-family: "Roboto", "Helvetica", sans-serif;
    margin: 0;
    padding: 0;
    margin-block-end: 3px;
}

.signupsmall {
    font-size: 25px;
    margin-block-start: 0px;
    font-style: italic;
}

#bottomsignupbutton {
    background-color: darkblue;
    filter: drop-shadow(0px 0px 10px #FFFFFF50)
}

.footer {
    background-color: #000000;
    text-align: center;
    padding: 15px;
    text-shadow: 0px 0px 5px #ffffff50;
}